@charset "utf-8";

/*  */
#header { width: 100%;  height: 100px; background: tomato; position: fixed; z-index: 999;  }
#header .wrap { width: 1200px; margin: 0 auto; background: teal; display: flex; justify-content: space-around; }
#header h1 { background: yellow; flex: 2;}
#header nav { flex: 6;}
#header nav .gnb { display: flex; justify-content: space-between;}


/*  */

.slide1 { background: thistle; width: 100px; height: 100px;}
.slide2 { background: teal; width: 100px; height: 100px;}
.slide3 { background: springgreen; width: 100px; height: 100px;}
.slide4 { background: slateblue; width: 100px; height: 100px;}
.slide5 { background: sienna; width: 100px; height: 100px;}