@charset "utf-8";


.wrap {width: 1200px; height: 100%; margin: 0 auto;}
img { width: 100%;}
body { background: #fbfbef;}

/* header */
#header { width: 100%;  height: 70px; position: fixed; z-index: 999; background: rgba(255, 255, 255, 0.8); opacity: 0.5; box-shadow: 0 5px 5px #000; }
#header .wrap { display: flex; justify-content: space-between; align-items: baseline; font-size: 20px;}
#header h1 { margin-top: 25px;  }
#header nav .gnb { display: flex; justify-content: space-between;}
#header .gnb li a { display: block; padding: 0 50px;}
/* 헤더 호버시 투명도 조절 */
#header:hover { opacity: 1;}
/* 네비게이션 호버시 글자색 제어 */
#header .gnb li:hover a { color: royalblue;}
/* .active {  color: royalblue; border-bottom: 2px solid royalblue;} */

/* main_visual */
#main_visual .wrap > div { width: 1200px; height: 500px; background: burlywood;  }
#main_visual .mv {  width: 100%; padding: 0; position: relative;}
#main_visual .mv li.slide1 { height: 700px; background: url("../images/mv0.jpg") no-repeat center center; background-size: cover; }
#main_visual .mv li.slide2 { height: 700px; background: url("../images/mv1.jpg") no-repeat center center; background-size: cover;}
#main_visual .mv li.slide3 { height: 700px; background: url("../images/mv2.jpg") no-repeat center center; background-size: cover;}
/* Dots */
.mv .slick-dots { position: absolute; left: 50%; bottom: 10px; display: block;  padding: 0; margin: 0; transform: translateX(-50%);}
.mv .slick-dots li { position: relative; display: inline-block; width: 20px; height: 5px; background: #000; padding: 5px;  opacity: 0.2; margin: 0 5px; cursor: pointer; }
.mv .slick-dots li button { display: block; padding: 5px; cursor: pointer; color:transparent; border: 0; outline: none; background: transparent; }
.mv .slick-dots li.slick-active { opacity: 1;}



/* intro */
#intro {padding-top: 200px;}
#intro .wrap { display: flex; justify-content: left; align-items: flex-start; }
#intro .intro_navi { padding-right: 100px; height: 650px;  flex: 0 0 25%; position: relative;}
#intro .intro_navi ul { display: block; position: sticky; top: 100px;}
#intro .intro_navi ul li { padding: 5px 0;}
/* 소개 네비게이션 호버시 */
.current { color: royalblue; border-bottom: 2px solid royalblue;}
/* 프로파일 제어 */
#intro .intro_main { flex: 1 1 50%; position: relative;}
#intro .intro_txt {display: flex; justify-content: flex-start; align-items: center;}
#intro .intro_txt .l_photo { width: 300px; height: 300px; border-radius: 50%; background: cornflowerblue url("../images/photo.png") no-repeat center 40px; background-size: contain;}
#intro .intro_txt .r_txt {padding: 20px; padding-left: 100px; }
#intro .intro_txt .r_txt span { color: #777;}
#intro .intro_back { position: absolute; top: -100px; right: -100px; transform: rotate(45deg); background: cornflowerblue; width: 200px; height: 200px; z-index: -1;}

/* 스킬 아이콘 제어 */
#intro #skills { padding-top: 90px; display: flex; justify-content: space-evenly; align-items: center; text-align: center; }
#intro #skills li > div { display: inline-block; width: 100px; height: 100px; }
#intro #skills li > p { padding: 5px 0;}
#intro #skills li > dl { display: inline-block; background: #ddd; width: 120px; border-radius: 3px;}
#intro #skills li > dl > dd { margin-left: 0; background: #252525; height: 10px; border-radius: 3px 0 0 3px;}
#intro #skills .html div {  background: url("../images/html-logo.jpg") no-repeat center center;background-size: cover;  }
#intro #skills .html dl dd { width: 85%;}
#intro #skills .css div {  background: url("../images/css-logo.jpg") no-repeat center center;background-size: contain;  }
#intro #skills .css dl dd { width: 80%;}
#intro #skills .jQ div {  background: url("../images/jQuery-logo.jpg") no-repeat center center;background-size: contain;  }
#intro #skills .jQ dl dd { width: 25%;}
#intro #skills .Ps div {  background: url("../images/photoshop-logo.jpg") no-repeat center center;background-size: contain;  }
#intro #skills .Ps dl dd { width: 65%;}
#intro #skills .Ai div {  background: url("../images/illustor-logo.jpg") no-repeat center center;background-size: contain;  }
#intro #skills .Ai dl dd { width: 60%;}



/* slide_works */
#slide_works .wrap { padding-top: 200px; text-align: center;} 
#slide_works .works { display: inline-block; position: relative;  width: 1015px;  height: 500px;}
#slide_works .works .work_po { position: relative; }
#slide_works .works h2 {  width: 1015px; height: 500px; }
#slide_works .works li > p { display: inline-block; padding: 10px 0; }
#slide_works .works .work_hover::before { content: '';  position: absolute; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.5); z-index: -1;}
#slide_works .works .work_hover { display: none; position: absolute;  justify-content: center; align-items: center;   width: 100%; height: 100%; z-index: 500;}
#slide_works .works .work_hover dd { padding: 0 50px; cursor: pointer;}
/* 작품에 호버시 창 보이기 */
#slide_works .works:hover .work_hover { display: flex;}
/* 슬라이드 버튼 CSS 코드 */ /* Arrows */
.works .slick-prev,.works .slick-next { font-size: 0; line-height: 0; position: absolute; top: 50%; z-index: 999; display: block; width: 50px; height: 50px; transform: translate(0, -50%); cursor: pointer; border: 5px solid #6495ed;  border-bottom: none; border-left: none; 
    outline: none; opacity: .5; transition: opacity 0.5s; background: transparent; }
.works .slick-prev:hover,.works .slick-prev:focus,.works .slick-next:hover,.works .slick-next:focus { opacity: 1; }
.works .slick-prev { left: -50px;  transform: rotate(-135deg);}
.works .slick-next { right: -50px; transform: rotate(45deg); }
/* Dots */
.works .slick-dots { position: absolute; left: 50%; bottom: -70px; display: block; width: 300px; padding: 0; margin: 0; transform: translateX(-50%);}
.works .slick-dots li { position: relative; display: inline-block; width: 20px; height: 20px;  border-radius: 50%; background: #6495ed; padding: 0; opacity: 0.2; margin: 0 5px; cursor: pointer; }
.works .slick-dots li button { display: block; padding: 5px; cursor: pointer; color:transparent; border: 0; outline: none; background: transparent; }
.works .slick-dots li.slick-active { opacity: 1;}
/* 작품 프리뷰 할 시 연결화면 */
.work21_view,
.work16_view { display: none; position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.5);}
.work_window {  position: fixed; left: 50%; top: 50%; transform: translate(-50%,-55%); width: 900px; height: 800px; box-shadow: 10px 10px 10px #000 ; overflow-y: scroll; }
.work_window .new_window { position: absolute; right: 60px; top: 23px; display: block; border: 1px #fff; border-radius: 5px; color: #fff;}
.work_window .work_close { display: block; position: absolute; right: 20px; top: 20px; width: 30px; cursor: pointer;}



/* history */
#history .wrap { padding-top: 200px;}
#history .wrap > ul > li { margin-bottom: 200px;}
#history .floor_wrap { display: flex; justify-content: left; align-items: center;}
#history .floor_wrap h2 img { height: 200px; }
/* 이미지 부분 제어 */
#history .floor_wrap .floor_img {  height: 200px; flex: 0 0 30%; position: relative;}
#history .floor_img .work_hover::before { content: '';  position: absolute; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.5); z-index: -1;}
#history .floor_img .work_hover { display: none; position: absolute;  justify-content: center; align-items: center; width: 100%; height: 100%; z-index: 0;}
#history .floor_img .work_hover:nth-child(1) dd{ cursor: pointer; margin: 0 20px;}
/* 호버시 */
#history .floor_img:hover .work_hover { display: flex;}
/* 텍스트 부분 제어 */
#history .floor_wrap .floor_txt {flex: 0 0 30%; height: 200px; padding: 30px; }
#history .floor_wrap .floor_txt dt { font-weight: 600; padding-bottom: 10px;  }
#history .floor_wrap .floor_txt dd { font-size: 14px;  }
#history .floor_wrap .dummy {flex: 1 1 40%; }
/* 홀수 순서 */
#history .wrap > ul li:nth-of-type(1n) .floor_img { order: 1; background: springgreen;}
#history .wrap > ul li:nth-of-type(1n) .floor_txt { order: 0; background: turquoise; text-align: right;}
#history .wrap > ul li:nth-of-type(1n) .dummy { order: 2; background: violet;}
/* 짝수 순서 */
#history .wrap > ul li:nth-of-type(2n) .floor_img { order: 1;}
#history .wrap > ul li:nth-of-type(2n) .floor_txt { order: 2; text-align: left; }
#history .wrap > ul li:nth-of-type(2n) .dummy { order: 0;}





/* footer */
#footer { padding: 30px 0; background: #ccc;}
#footer .wrap p { font-size: 14px; text-align: center; }