@charset "utf-8";

/* header */
#header {position: absolute; top: 0; width: 100%;  height: 6.77vw; z-index: 99;} /* height 130px */
#header .header_wrap { height: 6.77vw;  display: flex; justify-content: space-between; align-items: baseline; }

#header .header_wrap h1 { padding-top: 4.166%;}/* padding-top: 80px*/
#header .gnb { display: flex; align-items: center;}
#header .gnb li { margin: 0 20px;}
#header .gnb li:nth-child(5) a ,
#header .gnb li:nth-child(6) a ,
#header .gnb li:nth-child(7) a { color: #aaa9a7;}

#header .depth2 { position: absolute; width: 150px; left: calc(50% - 75px); top: 30px; background: #000; padding: 20px; border-radius: 20px; }
#header .depth2 li a { display: block; padding: 3px 0; color: #fff; text-align: center; font-size: 0.875rem;}


#header .util { display: flex; align-items: center;}
#header .util img { width: 100%; }
#header .util li { width: 19px; height: 19px; margin: 0 10px;}

#header .ham { display: none; position: relative; font-size: 0; width: 20px; height: 3px; background: #000; align-self: flex-end; cursor: pointer;}
#header .ham::before { content: ''; position: absolute; left: 0; top: -16px; width: 20px; height: 3px; background: #000; }
#header .ham::after { content: ''; position: absolute; left: 0; top: -8px; width: 30px; height: 3px; background: #000; }

#header.fix { position: fixed; left: 0; top: 0; width: 100%; background: rgba(255, 255, 255, 0.8); padding: 20px 20px;}



/* hidden_menu */
#hidden_menu { display: none; position: absolute; left: 0; top: 0;  width: 100%; height: 100%; z-index: 99; background: rgba(0, 0, 0, 0.5); }
#hidden_menu .mgnb { position: absolute; right: 0; top: 0; width: 70%; height: 100%; background: #f9f1e9; padding: 11.718% 4.882% ;}
#hidden_menu .mgnb > li { padding-bottom: 23px; border-bottom: 1px solid #dddddd; margin-bottom: 23px;}

#hidden_menu .mgnb_close { position: absolute; right: 0; display: inline-block; padding: 5px 15px; color: #fff; background: #000; z-index: 999; cursor: pointer;}

.mdepth2 { padding: 10px 30px; font-size: 0.875rem; }
.mdepth2 li { position: relative;}
.mdepth2 li::before { content: ''; width: 8px; height: 8px; border-radius: 50%; background: #999; position: absolute; left: -15px; top: 7px;}
.mdepth2 li a { color: #666;}




/* tablet */
@media all and (min-width : 768px) and (max-width : 1024px) {
    #header .header_wrap { padding: 0 50px;}
    #header .gnb, #header .util { display: none;}
    #header .ham { display: block;}
}

/* mobile */
@media all and (max-width : 767px) {
    #header .header_wrap { padding: 0 50px;}
    #header .gnb, #header .util { display: none;}
    #header .ham { display: block;}
}




/* main_banner */
#main_banner { position: relative;}
#main_banner .banner_list { position: relative;}
#main_banner .banner_list li{ height: 900px;}
#main_banner .banner_list li .banner_txt {  font-size: 1.562rem;}
#main_banner .banner_list li .banner_txt dd { font-size: 0.75rem; color: #aaa9a7; letter-spacing: 1px;}

#main_banner .banner_list li.banner1 { background: #f9f1e9 
    url('../images/main_visual_01.png') no-repeat center center; background-size: contain;}
#main_banner .banner_list li.banner1 .banner_txt { text-align: right; padding: 20.833% 15.625% ; }
#main_banner .banner_list li.banner2 { background: #f9f1e9 
    url('../images/main_visual_02.png') no-repeat center center; background-size: contain;}
#main_banner .banner_list li.banner2 .banner_txt { text-align: left; padding: 20.833% 15.25% ; }
#main_banner .banner_list li.banner3 { background: #f9f1e9 
    url('../images/main_visual_03.png') no-repeat center center; background-size: contain;}
#main_banner .banner_list li.banner3 .banner_txt { text-align: right; padding: 20.833% 15.625% ;}

/* Dots */
#main_banner .slick-dots { position: absolute; left: 50%; bottom: 20px; 
    transform: translateX(-50%); display: block;  padding: 0; margin: 0; text-align: center;  }
#main_banner .slick-dots li { position: relative; display: inline-block; width: 10px; height: 10px;  border-radius: 50%;  border: 1px solid #999999; padding: 0 ; margin: 0 5px;  cursor: pointer;  }
#main_banner .slick-dots li button {  padding: 5px ; cursor: pointer;
     color:transparent; border: 0;  outline: none; background: transparent; }
#main_banner .slick-dots li.slick-active { opacity: 1; background: #999999; }

/* tablet */
@media all and (min-width : 768px) and (max-width : 1024px) {
    #main_banner .banner_list li.banner1,
    #main_banner .banner_list li.banner2,
    #main_banner .banner_list li.banner3 { height: 700px;}

}

/* mobile */
@media all and (max-width : 767px) {
    #main_banner .banner_list li.banner1,
    #main_banner .banner_list li.banner2,
    #main_banner .banner_list li.banner3 { height: 500px;}
    #main_banner .banner_list li .banner_txt { display: none;}
}





/* story */
#story { text-align: center; padding: 7.812% 0;}
#story p:nth-child(1) {  font-size: 0.75rem; color: #aaa9a7; letter-spacing: 1px;}
#story h2 { padding: 15px 0 35px; font-size: 1.875rem;}
#story p:nth-child(3) { padding-bottom: 20px; font-size: 0.937rem; color: #aaa9a7;}
#story .view_more { display: inline-block; font-size: 0.75rem; border-bottom: 1px solid #000; }

#story .story_slick { display: flex; justify-content: center;}
#story .story_slick li { width: 30%;}
#story .story_slick li img { width: 100%;}
#story .story_slick li dl dt { font-size: 18px;}
#story .story_slick li dl dd:nth-child(2) { font-size: 15px; color: #999999; padding: 15px 0 25px;}


/* tablet */
@media all and (min-width : 768px) and (max-width : 1024px) {
    #story .story_slick { flex-wrap: wrap;}
    #story .story_slick li { width: 90%;}
}

/* mobile */
@media all and (max-width : 767px) {
    #story .story_slick { flex-wrap: wrap;}
    #story .story_slick li { width: 90%;}
}





/* product */
#product { background: #f9f1e9; padding: 7.812% 0; text-align: center;}
#product p:nth-child(1) {  font-size: 0.75rem; color: #aaa9a7; letter-spacing: 1px;}
#product h2 { padding: 15px 0 65px; font-size: 1.875rem;}


#product  .product_list img { width: 500px; border-radius: 50%; margin: 0 auto;}
#product  .product_list .slick a { display: inline-block; }
#product  .product_list .slick dl { padding-top: 30px;}
#product  .product_list .slick dl dt { padding-bottom: 10px; font-size: 1.5rem;}
#product  .product_list .slick dl dd { color: #999;}

#product  .product_list .slick li { opacity: 0.5; transform: scale(0.8,0.8); transition: transform 1s;}
#product  .product_list .slick li.slick-center { opacity: 1; transform: scale(1,1);}

/* tablet */
@media all and (min-width : 768px) and (max-width : 1024px) {
    #product  .product_list img { width: 700px;}
}

/* mobile */
@media all and (max-width : 767px) {
    #product  .product_list img { width: 490px;}
}



/* review */
#review { text-align: center; padding: 7.812% 0;}
#review p:nth-child(1) {  font-size: 0.75rem; color: #aaa9a7; letter-spacing: 1px;}
#review h2 { padding: 15px 0 35px; font-size: 1.875rem;}
#review p:nth-child(3) { padding-bottom: 20px; font-size: 0.937rem; color: #aaa9a7;}
#review .view_more { display: inline-block; font-size: 0.75rem; border-bottom: 1px solid #000; }
#review .review_play { margin: 0 auto; margin-top: 50px;}
#review .review_play video { width: 66.666%;}

/* tablet */
@media all and (min-width : 768px) and (max-width : 1024px) {

}

/* mobile */
@media all and (max-width : 767px) {
    
}





/* footer */
#footer { background: #eeeeee; padding: 5.208% 0; display: flex; justify-content: center;}
#footer .footer_logo { margin-right: 50px;}
#footer address { white-space: pre;}
#footer address span { color: #999999;}


/* tablet */
@media all and (min-width : 768px) and (max-width : 1024px) {

}

/* mobile */
@media all and (max-width : 767px) {
    #footer {  flex-direction: column; align-items: center;}
    #footer .footer_logo { margin-right: 0; margin-bottom: 30px; }
}