@charset "utf-8";

/*  */
#sitemap { position: fixed; left: 0; top: 0; height: 100%; width: 100%; background: #67625e; z-index: 101;}
#sitemap .sitemap_tit { text-align: center; font-size: 100px; font-weight: 600; color: #a89079; padding-top: 100px 0 50px; }
#sitemap .mainmenu > li { float: left; width: calc((100% - 150px)/4);}
#sitemap .mainmenu > li:nth-child(1) { margin-left: 0;}
#sitemap .mainmenu > li > a { display: block; font-size: 30px; color: #fff; font-weight: 600; text-align: center; border-bottom: 1px solid rgba(255, 255, 255, 0.2); padding-bottom: 30px; margin-bottom: 20px;}
#sitemap .submenu li a { transition: color 0.5s ; display: block; text-align: center; color: rgba(255, 255, 255, 0.3); text-transform: capitalize; padding: 3px 0 ;}
#sitemap .submenu li a:hover { color: #ff0;}
#sitemap .sitemap_close { position: absolute; right: 0; top: 0; cursor: pointer;}



/*  */
.popup { background: #a89079; text-align: center; padding: 10px 0; position: relative; height: 50px;}
.popup a { color: #fff; font-size: 20px; }
.popup .popup_close { position: absolute; right: 30px; top: 10px; width: 30px; height: 30px; font-size: 0; background: url("../images/main/popup_close.png") no-repeat center center; cursor: pointer;}

/*  */
#header .inner { position: relative; height: 110px; z-index: 99;} /* position 값에 zindex값 넣음 */
#header h1 { position: absolute; left: 0; top: 40px;}

#header .gnb { position: absolute; left: 300px; top: 40px;  }
#header .gnb > li { float: left; }
#header .gnb > li > a { display: block; padding: 10px 40px 36px; font-weight: 700; }
/*  */
#header .gnb > li:hover > a { color: #758246;}
#header .gnb > li:hover .depth2 {background: rgba(0, 0, 0, 0.3); }
#header .depth2 { height: 180px; padding-top: 20px; transition: background 0.5s; }
#header .depth2 li a { display: block; text-align: center; color: #fff; text-transform: capitalize; padding: 3px 0;}
#header .depth2_bg { position: absolute; left: 0; width: 100%; height: 180px; background: #758246; z-index: 98;}
/* dp2 bg top값을 주었다가 없애면 그 값 그대로 가져감 팝업창 없애도 따라서 올라감 */

#header .member { position: absolute; right: 100px; top: 52px; }
#header .member li { float: left; padding-left: 20px;}
#header .member li a { display: block; color: #999; font-size: 12px;}

#header .all_menu { position: absolute; right: 40px; top: 50px; width: 20px; height: 20px; text-indent: -9999px; background: url("../images/common/all_menu.png") no-repeat center center; cursor: pointer; }
#header .search { position: absolute; right: 0; top: 50px; width: 20px; height: 20px; font-size: 0;  background: url("../images/common/top_search.png") no-repeat center center; cursor: pointer; }

/*  */
#main_banner { height: 550px; position: relative;}
#main_banner .mb li { height: 550px; text-align: center;}
#main_banner .mb li.mb1 { background: url("../images/main/mv_01.jpg") no-repeat center top;}
#main_banner .mb li.mb2 { background: url("../images/main/mv_02.jpg") no-repeat center top;}
#main_banner .mb li.mb3 { background: url("../images/main/mv_03.jpg") no-repeat center top;}
#main_banner .mb li .comment { font-size: 24px; padding: 100px 0 30px;}
#main_banner .mb li h3 { font-size: 50px; font-weight: 700;}
#main_banner .mb li .term { font-size: 20px; font-weight: 600; padding-top: 100px;}
#main_banner .mb li.mb1 h3 span { color: #f36138;}
#main_banner .mb li.mb2 h3 span { color: #7c1e04;}
#main_banner .mb li.mb3 h3 span { color: #758246;}
/*  */
/* Arrows */
#main_banner .slick-prev,#main_banner .slick-next { font-size: 0; line-height: 0; position: absolute; top: 50%; z-index: 100; display: block; width: 70px; height: 70px; transform: translate(0, -50%); cursor: pointer; border: 0; outline: none; opacity: .5; transition: opacity 0.5s; }
#main_banner .slick-prev:hover,#main_banner .slick-prev:focus,#main_banner .slick-next:hover,#main_banner .slick-next:focus { opacity: 1; }
#main_banner .slick-prev { left: 0; background: rgba(0,0,0,0.3) url('../images/main/visual_btn_prev.png') no-repeat center center; }
#main_banner .slick-next { right: 0; background: rgba(0,0,0,0.3) url('../images/main/visual_btn_next.png') no-repeat center center; }
/* Dots */
#main_banner .slick-dots { position: absolute; bottom: 30px; display: block; width: 100%; padding: 0; margin: 0; left: 50%; transform: translateX(-150px); }/* li가 3개 가로가 100이니 총 300px */
#main_banner .slick-dots li { position: relative; display: inline-block; width: 100px; height: 3px; background: #000; padding: 0; opacity: 0.2; margin: 0; cursor: pointer; }
#main_banner .slick-dots li button { display: block; padding: 5px; cursor: pointer; color:transparent; border: 0; outline: none; background: transparent; }
#main_banner .slick-dots li.slick-active { opacity: 1;}

/*  */
#main_contents h2 { font-size: 50px; font-weight: 600; letter-spacing: -1px;}

/*  */
#product { padding: 150px 0; }
#product ul { margin-top: 50px; }
#product ul li { float: left; margin-left: 20px; width: calc((100% - 60px)/4); text-align: center;}
#product ul li:first-child { margin-left: 0;}
#product ul li .thumb { position: relative; background: #eee; line-height: 0;}
#product ul li .rank { display: inline-block; background: #a89079; color: #fff; padding: 20px; position: absolute; left: 0; top: 0; font-style: italic; z-index: 9;}
#product ul li .hover_img { position: absolute; left: 0; top: 0; background: #a89079; opacity: 0; transition: opacity 0.5s;}
#product ul li:hover .hover_img { opacity: 1;}
#product ul li .product_name { font-size: 20px; font-weight: 600; padding: 20px 0 30px;}
#product ul li .price { font-weight: 600;}
#product ul li .sale { color: #f00;}
#product ul li .sale span { text-decoration: line-through; color: #999;}/* line-through 취소선 */

#product .btn_more { text-align: center; margin-top: 80px;}
#product .btn_more a {  display: inline-block; border: 1px solid #000; padding: 15px 50px; font-size: 18px; transition: background 0.5s;}
#product .btn_more a:hover { background: #000; color: #fff;}

/*  */
#teaware {}
#teaware .teaware_txt { float: left;}
#teaware .teaware_txt .comment { color: #999; font-size: 18px; }
#teaware .btn_more {  margin-top: 50px;}
#teaware .btn_more a {  display: inline-block; border: 1px solid #000; padding: 15px 50px; font-size: 18px; transition: background 0.5s;}
#teaware .btn_more a:hover { background: #000; color: #fff;}

#teaware .teaware_brand { float: right; width: 840px; height: 520px; position: relative;}
#teaware .teaware_brand li { line-height: 0; overflow: hidden;}
#teaware .teaware_brand li:nth-child(1) { position: absolute; left: 0; top: 0;}
#teaware .teaware_brand li:nth-child(2) { position: absolute; left: 0; bottom: 0;}
#teaware .teaware_brand li:nth-child(3) { position: absolute; right: 0; top: 0;}
#teaware .teaware_brand li img { transition: transform 0.5s;}
#teaware .teaware_brand li:hover img { transform: scale(1.2,1.2);}

/*  */
#story  { margin: 150px 0; height: 500px; position: relative; overflow: hidden; }
#story video { position: absolute; left: 0; bottom: 0; width: 100%; } /* 바텀으로 영상 아래쪽 위치 잡아줌 */
#story .story_txt { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); color: #fff; text-align: center; padding-top: 130px;}
#story .comment { font-size: 18px; opacity: 0.5; padding-bottom: 50px; }
#story .btn_more {  margin-top: 50px;}
#story .btn_more a { text-align: center; display: inline-block; border: 1px solid #fff; padding: 15px 50px; font-size: 18px; transition: background 0.5s; color: #fff;}
#story .btn_more a:hover { background: #fff; color: #000;}

/*  */
#guide .franchise { width: 330px; height: 330px; float: left; background: url("../images/main/bg_franchise.jpg") no-repeat; padding: 40px; color: #fff;}
#guide .franchise dt { display: inline-block; border-bottom: 1px solid rgba(255, 255, 255, 0.5); font-size: 24px; font-weight: 600; padding-bottom: 20px; margin-bottom: 20px;}
#guide .franchise dd { font-size: 18px;}

#guide .store { width: 330px; height: 330px; float: left; background: #758246; margin-left: 20px; padding: 40px; color: #fff;}
#guide .store dt { display: inline-block; border-bottom: 1px solid rgba(255, 255, 255, 0.5); font-size: 24px; font-weight: 600; padding-bottom: 20px; margin-bottom: 20px;}
#guide .store dd { font-size: 18px;}

/* #guide .store a[traget="_blank"] =traget */
#guide .store form { display: inline-block; border: 3px solid #fff; margin-top: 20px;} /* form은 블럭 input은 인라인 */
#guide .store input[type="text"] { height: 45px; padding: 5px; background: #3b4224; color: #fff;
   }
#guide .store input[type="submit"] { width: 40px; height: 45px; font-size: 0; background: #3b4224 url("../images/main/search.png") no-repeat center center; cursor: pointer; }
/* height는 type text와 같이 만들어주기-한 박스 모양으로 맞추기 위해 */

#guide .info { float: right; margin-left: 20px; width: 500px;}
#guide .info .news { padding: 5px 5px 30px; position: relative;}
#guide .info .news h3 { font-size: 24px; font-weight: 600; padding-bottom: 20px;}
#guide .info .news ul li a { color: #999; line-height: 1.7s; }
#guide .info .news ul li a:hover { color: #000;}
#guide .info .news ul li .date { float: right;  }
#guide .info .news ul .more { position: absolute; right: 5px; top: 8px; font-size: 14px; font-weight: 600;}

#guide .quick_link li { float: left; width: calc(100%/2);}
#guide .quick_link li:nth-child(1) { background: #cbc3b2;}
#guide .quick_link li:nth-child(2) { background: #b1a387;}
#guide .quick_link li a { display: block; color: #fff; text-align: center; padding: 50px 0; font-size: 24px; font-weight: 600; }
#guide .quick_link li a span { display: block; font-size: 14px; opacity: 0.5;}

/*  */
#instar { padding: 150px 0;}
#instar h2 span { font-size: 30px; color: #758246;}
#instar .instar_list { margin-top: 20px;}
#instar .instar_list li:hover { opacity: 0.7;}
/*  */
/* Arrows */
#instar .slick-prev,#instar .slick-next { font-size: 0; line-height: 0; position: absolute;
    top: -60px; z-index: 999; display: block; width: 20px; height: 20px; transform: translate(0, -50%); cursor: pointer; background: transparent; border-top: 3px solid #000 ; border-right: 3px solid #000;  border-left: 0; border-bottom: 0; outline: none; transition: opacity 0.5s; }

#instar .slick-prev { right: 50px; transform: rotate(-135deg); }
#instar .slick-next { right: 10px; transform: rotate(45deg); }

/*  */
#footer { border-top: 1px solid #bbb; height: 310px;}
#footer .inner { position: relative;}
#footer .footer_logo { position: absolute; left: 0; top: 85px ; }
#footer .footer_link { position: absolute; left: 150px; top: 80px ;}
#footer .footer_link li { float: left; }
#footer .footer_link li a { font-size: 14px; margin-right: 15px;}
#footer address { position: absolute; left: 150px; top: 130px ; color: #999; white-space: pre;}
#footer .copy {position: absolute; left: 150px; top: 200px ; color: #999;}

#footer .footer_sns { position: absolute; right: 0; top: 80px;}
#footer .footer_sns li { float: left; margin-right: 10px; opacity: 0.5;}
#footer .footer_contact {position: absolute; right: 0; top: 130px; text-align: right;}
#footer .footer_contact .contact_center { font-size: 14px; letter-spacing: -1px;}
#footer .footer_contact .contact_number { color: #ff6600; font-size: 20px;letter-spacing: 2px; }

/*  */
#wrap .gotop { position: fixed; right: 50px; bottom: 50px; cursor: pointer; }