@charset "utf-8";



/*  */
#header { position: fixed; left: 0; top: 0; padding: 0 150px; border-bottom: 1px solid rgba(255, 255, 255, 0.3); width: 100%; z-index: 99;}
#header .inner { height: 100px; display: flex; justify-content: space-between; align-items: center;}

#header .gnb li { display: inline-block; margin: 0 40px;}
#header .gnb li a { color: #fff; font-size: 20px; }

#header .util li { display: inline-block; margin: 0 10px; }
#header .util li a { color: rgba(255, 255, 255, 0.7); }

/*  */
#main_visual { background: url('../images/63_main_section_01.jpg') no-repeat center center; background-size: 100% 100%;}
#main_visual video { position: absolute; left: 0; top: 0; width: 100%; z-index: 1;}
#main_visual h2 { width: 100%; position: absolute; color: #fff; font-size: 30px; text-align: center; z-index: 2; }
#main_visual h2 span { font-size: 50px;}

/*  */
#program { background: url('../images/63_main_section_02.jpg') no-repeat center center; background-size: 100% 100%; padding: 0 150px;}
#program .inner { display: flex; }
#program .program_tit { width:  30%; color: #fff;}
#program .program_tit h2 { font-size: 80px; padding-bottom: 20px; letter-spacing: -3px;}
#program .program_tit .comment { font-size: 20px;}

#program .program_list { width: 70%;}
#program .program_list ul { display: flex; justify-content: space-between; height: 500px;}
#program .program_list ul li { width: calc((100% - 60px)/3);}
#program .program_list ul li:nth-child(1) { background: url('../images/program_01.jpg') no-repeat center top; background-size: cover;}
#program .program_list ul li:nth-child(2) { background: url('../images/program_02.jpg') no-repeat center top; background-size: cover;}
#program .program_list ul li:nth-child(3) { background: url('../images/program_03.jpg') no-repeat center top; background-size: cover;}

#program .program_list ul li dl { height: 100%; padding: 50px; color: #fff; transition: background 1s;}
#program .program_list ul li dl dt { font-size: 36px;}
#program .program_list ul li dl dd { font-size: 18px; padding: 10px 0; opacity: 0; transition: opacity 1s;}
#program .program_list ul li dl dd a { display: inline-block; color: #fff; border: 1px solid rgba(255, 255, 255, 0.5); padding: 10px 50px; border-radius: 50px; margin-top: 20px;}
/* 호버 */
#program .program_list ul li:hover dl { background: rgba(51, 102, 255, 0.6);}
#program .program_list ul li:hover dl dd { opacity: 1;}
/* addclass되는것은 풀페이지에서 제공 / 애니css에서 이름따옴 */
#program.active .program_tit { animation: fadeLeftReverse 3s;}
#program.active .program_list { animation: fadeLeft 3s;}
/*  */


/*  */
#info { background: url('../images/63_main_section_03.jpg') no-repeat center center; background-size: 100% 100%; padding: 0 150px;}
#info .inner { display: flex;}
#info .info_tit { width: 30%; color: #fff;}
#info .info_tit h2 { font-size: 80px; padding-bottom: 20px; letter-spacing: -3px;}
#info .info_tit .comment { font-size: 20px;}

#info .info_list { width: 70%; display: flex;}
#info .info_list > div { width: 50%; padding: 50px;}
#info .info_list h3 { font-size: 36px; text-align: center; padding-bottom: 50px;}
#info .info_list p { text-align: center; margin-top: 50px; }


#info .info_list .time { background: #fff;}
#info .info_list .time table { border-top: 1px solid #666; padding: 15px;}
#info .info_list .time table th, 
#info .info_list .time table td { border-bottom: 1px solid #ddd; padding: 15px;}
#info .info_list .time a { display: inline-block; border: 1px solid #36f; padding: 10px 50px ; border-radius: 50px; color: #36f;}

#info .info_list .money { background: #35f; color: #fff;}
#info .info_list .money table { border-top: 1px solid rgba(255, 255, 255, 0.7); padding: 15px;}
#info .info_list .money table th, 
#info .info_list .money table td { border-bottom: 1px solid rgba(255, 255, 255, 0.2); padding: 15px;}
#info .info_list .money a { display: inline-block; border: 1px solid #fff; padding: 10px 50px;; border-radius: 50px; color: #fff;}


/*  */
#event { background: url('../images/63_main_section_04.jpg') no-repeat center center; background-size: 100% 100%; padding: 0 150px;}
#event h2 { font-size: 80px; padding-bottom: 20px; letter-spacing: -3px; color: #fff; text-align: center;}
#event ul { display: flex; justify-content: space-between; height: 400px;}
#event ul li {display: flex; flex-direction: column; justify-content: flex-end; width: calc((100% - 2px)/3); padding: 50px; text-align: center; color: #fff; }
#event ul li:nth-child(1) { background: rgba(255, 255, 255, 0.3) url('../images/event_ico_01.png') no-repeat center 25%; }
#event ul li:nth-child(2) { background: rgba(255, 255, 255, 0.3) url('../images/event_ico_02.png') no-repeat center 25%; }
#event ul li:nth-child(3) { background: rgba(255, 255, 255, 0.3) url('../images/event_ico_03.png') no-repeat center 25%; }

#event ul li h3 { font-size: 36px; padding-bottom: 20px;}
#event ul li p { font-size: 20px; }
#event .detail { display: none;}
#event .detail a { display: inline-block; color: #fff; padding: 10px 50px; border: 1px solid #fff; border-radius: 50px; margin-top: 50px;}
/*  */
#event ul li:hover .detail { display: block; }
#event ul li:hover { background: #36f;}



/*  */
#footer { background: #000; padding: 100px 150px;}
#footer .inner { display: flex; justify-content: space-between;}
#footer .footer_txt { color: #fff;}

#footer .footer_link li { display: inline-block; margin-right: 20px;}
#footer .footer_link li a { color: #fff;}

#footer address { opacity: 0.5; padding: 20px 0;}
#footer .copy { opacity: 0.5; }

#footer .sns li { display: inline-block; margin-left: 10px; width: 40px; height: 40px; border-radius: 50%; background: rgba(51, 102, 255, 0.3); padding: 10px;}
#footer .sns li:hover { background: #36f;}

/* 오른쪽 네비게이션 버튼 색상 */
#fp-nav ul li a span, .fp-slidesNav ul li a span { background: #fff;}