@charset "utf-8";

* { margin:0; padding:0; box-sizing: border-box;}
ol,ul { list-style: none; }
table { border-collapse: collapse; }
a { color: #000; text-decoration: none; }
body { font-family: 'Noto Sans KR', sans-serif; font-size:16px; color:#000; line-height: 1.5; }
/* html <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> */


.inner { width: 1200px; margin: 0 auto;}
.clearfix::after { content: ""; display: block; clear: both;}
/* header 상단 영역 */
#header { width: 1200px; height: 150px; margin: 0 auto; position: relative; }
#header li { float: left; }
#header .site { position: absolute; left: 0; top: 20px;}
#header .site li:nth-child(1) a { display: block; padding: 5px 20px; background: #1d326c;  border: 1px solid #1d326c; color: #fff; }
#header .site li:nth-child(2) a { display: block; padding: 5px 20px; border: 1px solid #1d326c; color: #1d326c;}

#header .util { position: absolute; right: 150px; top: 20px; }
#header .util li { margin-left: 20px;}
#header .util li a { color: #999;}

#header .sns { position: absolute; top: 20px; right: 0;}
#header .sns li { margin-left: 5px;}

#header h1 { position: absolute;  left: 0; top: 90px;}
#header .gnb { position: absolute;  right: 0; top: 90px; }
#header .gnb li a { display: block; font-size: 20px; font-weight: 700; padding: 10px 30px;}
/* 서브타이틀 */
#sub_visual { background: url(../images/drink_visual.jpg) no-repeat center top; padding: 150px 0 50px ;}
#sub_visual h2 { font-size: 50px; color: #fff; text-align: center;}
#sub_visual .comment { color: #fff; text-align: center; font-size: 18px; padding: 20px 0 100px;}
#sub_visual .lnb li { float: left; width: calc(100%/6);}
#sub_visual .lnb li a { display: block; background: rgba(0, 0, 0, 0.5); color: #fff; padding: 10px 20px; margin-right: 5px;}
#sub_visual .lnb li:last-child a { margin-right: 0;}
#sub_visual .lnb li a:hover, #sub_visual .lnb li a.on { background: #1d326c; }
/* 중단내용 */
#contents {padding: 100px 0;}
#contents .sub_title { background: url(../images/patten.jpg) repeat-x 0 bottom; padding-bottom: 10px; margin-bottom: 50px;}
#contents .sub_title h3 { float: left; font-size: 30px;}
#contents .sub_title .breadcrumbs { float: right; padding-top: 10px;}
#contents .sub_title .breadcrumbs li { float: left; background: url(../images/breadcrumbs_arrow.png) no-repeat 0 10px; padding-left: 10px; margin-left: 10px;}
#contents .sub_title .breadcrumbs li:first-child { background: url(../images/home.png) no-repeat 0 7px;  padding-left: 20px;}

#contents .drink_menu li { float: left; width: calc(100%/4); text-align: center;}
#contents .drink_menu li a { display: block; background: #eee; margin: 0 10px 10px 0; padding: 50px 0 ;}
#contents .drink_menu li:nth-child(4n) a { margin-right: 0;}
#contents .drink_menu li a:hover { background: #1d326c; color: #fff;}

/* 하단내용 */
#footer { background: #262626; }
#footer .inner { height: 250px; position: relative;}
#footer .footer_logo { position: absolute; left: 0; top: 40px;}
#footer .footer_link { position: absolute; right: 0; top: 40px;}
#footer .footer_link li { float: left; padding-left: 20px;}
#footer .footer_link li { color: #ddd;}
#footer address { position: absolute; left: 0; top: 100px; font-style: normal; color: #666;}
#footer .copy { position: absolute; left: 0; top: 150px; color: #666;}